h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

#dashboard {
    min-height: calc((100vh - 231px) + 125px);
    margin-top: -125px;
    margin-bottom: 0;
}

#dashboard.dashboard--extra {
    margin-top: -454px;
}

.help--explanation-1 {
    left: calc(100% - 43px);
    top: 96px;
    height: 134px;
    width: 43px;
}

.help--explanation-1 .help-text {
    width: 120px;
    left: -117px;
    top: -50px;
}

.help--explanation-2 {
        width: 100%;
    height: calc(100% - 256px);
    top: 256px;
}

.help--explanation-2 .help-text {
    top: -10px;
}

.help--input-1 {
    width: calc(50% - 70px);
    height: 200px;
    top: 80px;
    left: 70px;
}

.help--input-1 .help-text {
    top: 200px;
}

.help--input-2 {
    width: calc(50% - 70px);
    height: 200px;
    top: 80px;
    left: calc(50%);
}

.help--input-2 .help-text {
    top: 200px;
}

.help--register-1 {
    top: 440px;
    height: 60px;
    left: calc(50% - 263px);
    width: 280px;
}

.help--register-1 .help-text {
    top: 60px;
}

.help--register-2 {
    top: 435px;
    height: 70px;
    left: calc(50% + 80px);
    width: 230px;
}

.help--register-2 .help-text {
    top: 75px;
}

.help--register-3 {
    top: 520px;
    height: 70px;
    left: calc(50% - (150px / 2));
    width: 150px;
}

.help--register-3 .help-text {
    left: calc(100% + 10px);
    width: 150px;
}


.help--register-4 {
    left: 0;
    top: 96px;
    height: 115px;
    width: 43px;
}

.help--register-4 .help-text {
    width: 120px;
    left: 43px;
    top: -10px;
}

.help--register-5 {
    top: 510px;
    height: 90px;
    left: calc(50% - 20px);
    width: 150px;
}

.help--register-5 .help-text {
    left: calc(100% + 10px);
    width: 150px;
    top: -30px;
}

.help--install-1 {
    top: 385px;
    height: 70px;
    left: 50px;
    width: 200px;
}

.help--install-1 .help-text {
    left: calc(100% + 10px);
    width: 150px;
}

.help--install-2 {
    top: 460px;
    height: 80px;
    left: calc(100% - 265px);
    width: 238px;
}

.help--install-2 .help-text {
    left: -110px;
    width: 100px;
}

.help--install-3 {
    width: 100%;
    height: calc(100% - 231px);
    top: 231px;
}

.help--install-3 .help-text {
    top: -30px;
    width: 150px;
}

.help--install-4 {
    left: calc(100% - 43px);
    top: 96px;
    height: 115px;
    width: 43px;
}

.help--install-4 .help-text {
    width: 120px;
    left: -128px;
    top: -35px;
}

.help--install-5 {
    height: 40px;
    left: calc(100% - 107px);
    width: 107px;
    bottom: 189px;
}

.help--install-5 .help-text {
    left: -110px;
    width: 100px;
}

.help--install-6 {
    width: 100%;
    height: calc(100% - 231px);
    top: 231px;
}

.help--install-6 .help-text {
    top: -160px;
    width: 450px;
}

.help-box {
    border: solid 3px red;
    position: absolute;
    border-radius: 50%;
}

.help-text {
    position: absolute;
    background: white;
    border: solid 1px #aaa;
    padding: 10px;
}

.float-click {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: rgba(255, 255, 0, 0.4);
    pointer-events: none;

}

#tutorial {
    z-index: 1000;
}

.explain1-1 {
        position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

::placeholder {
    color: #888;
    opacity: 0.8;
}

#content {
	padding-bottom: 0 !important;
}

#colophon {
	display: none;
}

h1 {
	font-size: 40px;
    font-weight: 500;
    color: #07a;
    text-align: center;
}

h2 {
	font-size: 20px;
    padding: 0 10px;
    line-height: 50px;
    text-align: center;
}

.step-title {
	margin: 20px;
    font-size: 50px;
}

#content {
	padding: 0;
}

.button {
	background: #07a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5%;
    border: solid 1px #000;
}

.button:hover {
	background: #09c;
}

.front-wrap {
	position: fixed;
    height: 100%;
    width: 100%;
    background: #eee;
    text-align: center;
}

.front-title {
	transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 550px;
    text-align: center;
}

.front-title h1 {
	margin-bottom: 20px;
}

.info-form {
	display: grid;
    grid-template-columns: auto 1fr;
}

#dashboard, #loading {
	width: 100%;
}

#loading {
    min-height: 444px;
}

#dashboard {
	text-align: center;
}

.info-form {
	padding: 0 80px;
}

#loading {
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
}

.tutorial-grid {
	display: grid;
}

.collect-form p, .collect-form span {
	text-align: center;
	line-height: 40px
}

.info-form span {
	padding-right: 12px;
}

.info-form span, .info-form input {
	margin-top: 15px;
}

.image-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 2;
    pointer-events: none;
}

.image-url {
    position: relative;
    height: 100%;
}

#tutorial {
	height: 100%;
}

#dashboard .button {
	position: relative;
    top: 30px;
}

.tutorial-images {
	display: none;
}

form {
	text-align: center;
}

.image-instructions {
    margin: 0;
}

.image-url .next-button--example {
    left: 0;
    height: 150px;
    top: 150px;
    margin: auto;
}

form .radio {
    margin-top: 25px;
}

.image--example {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

#instructions p {
    margin: 0;
}

.instructions-wrap {
	display: block;
    text-align: center;
    padding: 30px 70px;
    position: relative;
    border-top: solid 1px #aaa;
    background: #fff;
}

.grid-title {
	border: solid 1px #aaa;
	border-left: none;
    background: #eee;
	font-size: 23px;
    text-align: center;
    color: #07a;
    z-index: 1;
}

.loading--example {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hint:hover {
    cursor: pointer;
    color: #0ae;
}

.right {
	right: 0;
}

.right .next-text {
	text-align: right;
}

.left {
	left: 0;
}

.left .next-text {
	text-align: left;
}

.next-button {
	top: 0;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 40px;
    padding: 0;
    background: #eee;
}

.next-button:hover {
    background: #aaa;
}

.next-button:hover .next-text {
    color: #000;
}

.next-text {
	display: block;
    font-weight: 600;
    letter-spacing: 2px;
    height: 100%;
    font-size: 25px;
    line-height: 25px;
    color: #aaa;
    padding: 0 8px;
    margin-top: calc(-25px / 2);
    transform: translate(0,50%);
}

.domainoptions {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 13px;
    vertical-align: baseline;
    display: block;
    color: #677483;
    font: 13px "Open Sans", Arial, sans-serif;
    line-height: 1.6em;
}

.option.optionselected {
    background-color: #f2faff;
}

.option {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    display: block;
    font-size: 13px;
    color: #677483;
    font: 13px "Open Sans", Arial, sans-serif;
    line-height: 1.6em;
}

.option:first-child {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.option:last-child {
    border-bottom: 0;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.option label {
    padding: 0;
    font-size: 1em;
    line-height: 14px;
    width: auto;
    text-align: left;
    float: none;
    display: inline;
    font-weight: bold;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    color: #677483;
    font: 13px "Open Sans", Arial, sans-serif;
}

.domainreginput {
    display: block;
        margin: 0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
        border: 0;
    vertical-align: baseline;
    color: #677483;
    font: 13px "Open Sans", Arial, sans-serif;
    line-height: 1.6em;
    justify-content: center;
}

.domainreginput input {
    width: auto;
    padding: 6px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(255,255,255,.1), inset 1px 2px 0 rgba(207,211,218,.15);
    border: 1px solid #bbcad1;
    transition: box-shadow 0.3s;
    color: #828f9e;
    border-radius: 5px;
    vertical-align: middle;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 100%;
}

#registertld {
    height: 30px;
}

#registertld option {
        font: 14px Helvetica, Arial;
    text-indent: 5px;
    max-width: 100% !important;
    float: left;
    white-space: nowrap;
        line-height: 15px !important;
        margin: 0;
    border: 0;
    vertical-align: baseline;
}

.domainreginput .btn-primary {
    width: auto;
    height: auto;
        border: 1px solid #007597;
    background-color: #008db5 !important;
    border-radius: 5px;
    padding: 12px 13px !important;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.iframe-wrap {
    overflow: hidden;
    height: 100%;
}